<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xy.mapper.ComplaintMapper">

    <sql id="base_colums">
            `complaintid`,`userid`,`complainttime`,`productid`,`content`,`complaintstate`,`result`
    </sql>
    <!--    -->
    <sql id="base_where">
        <if test="complaintid!=null">
            and `complaintid`=#{complaintid,jdbcType=INTEGER}
        </if>
        <if test="userid!=null">
            and `userid`=#{userid,jdbcType=INTEGER}
        </if>
        <if test="complainttime!=null and complainttime!=''">
            and `complainttime`=#{complainttime,jdbcType=VARCHAR}
        </if>
        <if test="productid!=null">
            and `productid`=#{productid,jdbcType=INTEGER}
        </if>
        <if test="content!=null and content!=''">
            and `content`=#{content,jdbcType=VARCHAR}
        </if>
        <if test="complaintstate!=null">
            and `complaintstate`=#{complaintstate,jdbcType=INTEGER}
        </if>
        <if test="result!=null">
            and `result`=#{result,jdbcType=VARCHAR}
        </if>

    </sql>
    <!-- 基本新增使用的字段列表-->
    <sql id="base_insert_colums">
        <trim suffixOverrides=",">
            <if test="complaintid!=null">
               `complaintid`,
            </if>
            <if test="userid!=null">
               `userid`,
            </if>
            <if test="complainttime!=null and complainttime!=''">
                `complainttime`,
            </if>
            <if test="`productid`!=null and `productid`!=''">
               `productid`,
            </if>
            <if test="content!=null and content!=''">
               `content`,
            </if>
            <if test="complaintstate!=null">
               `complaintstate`,
            </if>
            <if test="result!=null and result!=''">
               `result`,
            </if>
        </trim>

    </sql>
    <!-- 基本新增使用的值列表-->
    <sql id="base_insert_values">
        <trim suffixOverrides=",">
            <if test="complaintid!=null">
                `complaintid`=#{complaintid,jdbcType=INTEGER},
            </if>
            <if test="userid!=null">
               `userid`=#{userid,jdbcType=INTEGER},
            </if>
            <if test="complainttime!=null and complainttime!=''">
               `complainttime`=#{complainttime,jdbcType=VARCHAR},
            </if>
            <if test="productid!=null">
                `productid`=#{productid,jdbcType=INTEGER},
            </if>
            <if test="content!=null and content=''">
               `content`=#{content,jdbcType=VARCHAR},
            </if>
            <if test="complaintstate!=null">
               `complaintstate`=#{complaintstate,jdbcType=INTEGER},
            </if>
            <if test="result!=null and result=''">
                `result`=#{result,jdbcType=VARCHAR},
            </if>
        </trim>
    </sql>

<!--查询所有投诉-->
    <select id="findComplaint" resultType="Complaint">
        select
        <include refid="base_colums"/>
        from `complaint`
        <where>
            <include refid="base_where"/>
        </where>
    </select>

<!--修改投诉-->
    <update id="updateResult">
        update `complaint`
        set `result`=#{result,jdbcType=VARCHAR}
        where `complaintid`=#{complaintid,jdbcType=INTEGER}
    </update>
<!--删除投诉-->
    <delete id="deleteComplaint">
        delete from `complaint`
        <where>
            <foreach collection="complaintids" item="complaintid" open="complaintid in(" separator="," close=")">
                #{complaintid}
            </foreach>
        </where>
    </delete>

    <update id="updateComplaintState">
        update `complaint`
        set `complaintstate`=#{complaintstate,jdbcType=INTEGER}
        where `complaintid`=#{complaintid,jdbcType=INTEGER}
    </update>
</mapper>