<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xy.mapper.StoreMapper">

    <sql id="base_colums">
        `storeid`,`storeaccount`,`storename`,`storepassword`,`storeimage`,`storephone`,`storestate`,`storecdcard`,`storefreezetime`,`storeunlocktime`,`storeaddress`
    </sql>
    <!--    -->
    <sql id="base_where">
        <if test="storeid!=null">
            and `storeid`=#{storeid,jdbcType=INTEGER}
        </if>
        <if test="storeaccount!=null">
            and storeaccount=#{storeaccount,jdbcType=VARCHAR}
        </if>
        <if test="storename!=null">
            and storename=#{storename,jdbcType=VARCHAR}
        </if>
        <if test="storepassword!=null">
            and storepassword=#{storepassword,jdbcType=VARCHAR}
        </if>
        <if test="simage!=null">
            and simage=#{simage,jdbcType=VARCHAR}
        </if>
        <if test="storephone!=null">
            and storephone=#{storephone,jdbcType=VARCHAR}
        </if>

        <if test="storestate!=null">
            and storestate=#{storestate,jdbcType=INTEGER}
        </if>
        <if test="storecdcard!=null">
            and storecdcard=#{storecdcard,jdbcType=VARCHAR}
        </if>
        <if test="storefreezetime!=null">
            and storefreezetime=#{storefreezetime,jdbcType=VARCHAR}
        </if>
        <if test="storeunlocktime!=null">
            and storeunlocktime=#{storeunlocktime,jdbcType=VARCHAR}
        </if>
        <if test="storeaddress!=null">
            and storeaddress=#{storeaddress,jdbcType=VARCHAR}
        </if>

    </sql>
    <!-- 基本新增使用的字段列表-->
    <sql id="base_insert_colums">
        <trim suffixOverrides=",">
            <if test="storeid!=null">
                `storeid`,
            </if>
            <if test="storeaccount!=null">
                storeaccount,
            </if>
            <if test="storename!=null">
                storename,
            </if>
            <if test="storepassword!=null">
                storepassword,
            </if>
            <if test="storeimage!=null">
                storeimage,
            </if>
            <if test="storephone!=null">
                storephone,
            </if>

            <if test="storestate!=null">
                storestate,
            </if>
            <if test="storecdcard!=null">
                storecdcard,
            </if>
            <if test="storefreezetime!=null">
                storefreezetime,
            </if>
            <if test="storeunlocktime!=null">
                storeunlocktime,
            </if>
            <if test="storeaddress!=null">
                storeaddress,
            </if>
        </trim>

    </sql>
    <!-- 基本新增使用的值列表-->
    <sql id="base_insert_values">
        <trim suffixOverrides=",">
            <if test="storeid!=null">
                `storeid`=#{storeid,jdbcType=INTEGER},
            </if>
            <if test="storeaccount!=null and storeaccount!=''">
                storeaccount=#{storeaccount,jdbcType=VARCHAR},
            </if>
            <if test="storename!=null and storeaname!=''">
                storename=#{storename,jdbcType=VARCHAR},
            </if>
            <if test="storepassword!=null and storepassword!=''">
                storepassword=#{storepassword,jdbcType=VARCHAR},
            </if>
            <if test="storeimage!=null and storeimage!=''">
                storeimage=#{storeimage,jdbcType=VARCHAR},
            </if>
            <if test="storephone!=null and storephone!=''">
                storephone=#{storephone,jdbcType=VARCHAR},
            </if>

            <if test="storestate!=null">
                storestate=#{storestate,jdbcType=INTEGER},
            </if>
            <if test="storecdcard!=null and storecdcard!=''">
                storedcard=#{storecdcard,jdbcType=VARCHAR},
            </if>
            <if test="storefreezetime!=null and storefreezetime!=''">
                storefreezetime=#{storefreezetime,jdbcType=VARCHAR},
            </if>
            <if test="storeunlocktime!=null and storeunlocktime!=''">
                storeunlocktime=#{storeunlocktime,jdbcType=VARCHAR},
            </if>
            <if test="storeaddress!=null and storeaddress!=''">
                storeaddress=#{storeaddress,jdbcType=VARCHAR},
            </if>
        </trim>
    </sql>
<!--查询所有农户-->
    <select id="findStore" resultType="cn.xy.bean.Store">
        select
        <include refid="base_colums">
        </include> from `store`
        <where>
            <include refid="base_where">
            </include>
        </where>
    </select>
<!--修改农户状态-->
    <update id="updateStoreState">
        update `store`
        set `storestate`=#{storestate}
        where `storeid`=#{storeid,jdbcType=INTEGER}
    </update>
</mapper>