<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xy.mapper.UserMapper">
    <sql id="base_colums">
        `userid`,`username`,`useraccount`,`userpassword`,`userimage`,`userphone`,`userstate`,`usercdcard`,`userfreezetime`,`userunlocktime`
    </sql>
    <!--    -->
    <sql id="base_where">
        <if test="userid!=null">
            and `userid`=#{userid,jdbcType=INTEGER}
        </if>
        <if test="username!=null and username!=''">
            and username=#{username,jdbcType=VARCHAR}
        </if>
        <if test="useraccount!=null and useraccount!=''">
            and useraccount=#{useraccount,jdbcType=VARCHAR}
        </if>
        <if test="userpassword!=null and userpassword!=''">
            and `userpassword`=#{userpassword,jdbcType=VARCHAR}
        </if>
        <if test="userimage!=null and userimage!=''">
            and userimage=#{userimage,jdbcType=VARCHAR}
        </if>
        <if test="userphone!=null and userphone!=''">
            and userphone=#{userphone,jdbcType=VARCHAR}
        </if>

        <if test="userstate!=null">
            and userstate=#{userstate,jdbcType=INTEGER}
        </if>
        <if test="usercdcard!=null and usercdcard!=''">
            and usercdcard=#{usercdcard,jdbcType=VARCHAR}
        </if>
        <if test="userfreezetime!=null and userfreezetime!=''">
            and userfreezetime=#{userfreezetime,jdbcType=VARCHAR}
        </if>
        <if test="userunlocktime!=null and userunlocktime!=''">
            and userunlocktime=#{userunlocktime,jdbcType=VARCHAR}
        </if>

    </sql>
    <!-- 基本新增使用的字段列表-->
    <sql id="base_insert_colums">
        <trim suffixOverrides=",">
            <if test="userid!=null">
                `userid`,
            </if>
            <if test="username!=null and username!=''">
                username,
            </if>
            <if test="useraccount!=null and useraccount!=''">
                useraccount,
            </if>
            <if test="userpassword!=null and userpassword!=''">
                userpassword,
            </if>
            <if test="userimage!=null and userimage!=''">
                userimage,
            </if>
            <if test="userphone!=null and userphone!=''">
                userphone,
            </if>

            <if test="userstate!=null">
                userstate,
            </if>
            <if test="usercdcard!=null and usercdcard!=''">
                usercdcard,
            </if>
            <if test="userfreezetime!=null and userfreezetime!=''">
                userfreezetime,
            </if>
            <if test="userunlocktime!=null and userunlocktime!=''">
                userunlocktime,
            </if>
        </trim>

    </sql>
    <!-- 基本新增使用的值列表-->
    <sql id="base_insert_values">
        <trim suffixOverrides=",">
            <if test="userid!=null">
                `userid`=#{userid,jdbcType=INTEGER},
            </if>
            <if test="username!=null and username!=''">
                username=#{username,jdbcType=VARCHAR},
            </if>
            <if test="useraccount!=null and useraccount!=''">
                useraccount=#{useraccount,jdbcType=VARCHAR},
            </if>
            <if test="userpassword!=null and userpassword!=''">
                userpassword=#{userpassword,jdbcType=VARCHAR},
            </if>
            <if test="userimage!=null and userimage!=''">
                userimage=#{userimage,jdbcType=VARCHAR},
            </if>
            <if test="userphone!=null and userphone!=''">
                userphone=#{userphone,jdbcType=VARCHAR},
            </if>

            <if test="userstate!=null">
                userstate=#{userstate,jdbcType=INTEGER},
            </if>
            <if test="usercdcard!=null and usercdcard!=''">
                usercdcard=#{usercdcard,jdbcType=VARCHAR},
            </if>
            <if test="userfreezetime!=null and userfreezetime!=''">
                userfreezetime=#{userfreezetime,jdbcType=VARCHAR},
            </if>
            <if test="userunlocktime!=null">
                userunlocktime=#{userunlocktime,jdbcType=VARCHAR},
            </if>
        </trim>
    </sql>
    <!--    修改-->
    <sql id="base_update">
        <if test="userid!=null">
            `userid`=#{userid},
        </if>
        <if test="username!=null and username!=''">
            `username`=#{username},
        </if>
        <if test="useraccount!=null and useraccount!=''">
            `useraccount`=#{useraccount},
        </if>
        <if test="userpassword!=null and userpassword!=''">
            `userpassword`=#{userpassword},
        </if>
        <if test="userimage!=null and userimage!=''">
            `userimage`=#{userimage},
        </if>
        <if test="userphone!=null and userphone!=''">
            `userphone`=#{userphone},
        </if>

        <if test="userstate!=null">
            `userstate`=#{userstate},
        </if>
        <if test="usercdcard!=null and usercdcard!=''">
            `usercdcard`=#{usercdcard},
        </if>
        <if test="freezetime!=null and freezetime!=''">
            `userfreezetime`=#{userfreezetime},
        </if>
        <if test="unlocktime!=null and unlocktime!=''">
            `userunlocktime`=#{userunlocktime},
        </if>

    </sql>
<!--查询用户-->
    <select id="findUser" resultType="cn.xy.bean.User">
        select
        <include refid="base_colums">
        </include> from `user`
        <where>
            <include refid="base_where"/>
        </where>
    </select>
<!--修改用户状态-->
    <update id="updateUserState" parameterType="User">
        update `user`
        <set>
            <include refid="base_update">
            </include>
        </set>
        where `userid`=#{userid,jdbcType=INTEGER}
    </update>

</mapper>